body,
html {
    margin: 0;
    padding: 0;
    background: #000;
    overflow: hidden;
    height: 100%;
}

#viewport {
    width: 100vw;
    height: 100vh;
    cursor: grab;
}

#map-container {
    position: relative;
    width: 100vw;
    /* Ratio 5761/3241 pour éviter les décalages */
    aspect-ratio: 5761 / 3241;
}

.layer {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.gray {
    z-index: 1;
}

.color {
    z-index: 2;
    /* Masque vide au départ */
    clip-path: path("M 0 0 L 0 0 Z");
    transition: clip-path 0.4s ease-in-out;
    pointer-events: none;
    image-rendering: high-quality;
    /* Garde ton 5K bien net */
}

#map-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.map-zone {
    fill: transparent;
    stroke: none;
    /* On cache le trait noir d'Illustrator */
    pointer-events: all;
    cursor: pointer;
}

/* Style du panneau latéral */
#details-panel {
    position: fixed;
    right: 0;
    top: 0;
    width: 450px;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 40px;
    z-index: 100;
    transform: translateX(100%);
    transition: 0.5s;
    box-shadow: -10px 0 30px rgba(0, 0, 0, 0.5);
}

#details-panel.active {
    transform: translateX(0);
}

.hidden {
    display: none;
}