/* Reset et base */
body,
html {
    margin: 0;
    padding: 0;
    background: #000;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

#viewport {
    width: 100vw;
    height: 100vh;
    cursor: grab;
}

#map-container {
    position: relative;
    width: 100vw;
    /* Prend toute la largeur */
    height: auto;
}

.layer {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    /* Ne bloque pas la souris pour le SVG */
}

/* Image grise au-dessus */
.gray {
    z-index: 2;
    /* On masque tout au départ, le JS créera le cercle de révélation */
    clip-path: circle(0% at 50% 50%);
    transition: clip-path 0.1s ease-out;
}

.color {
    z-index: 1;
}

/* SVG d'interaction */
#map-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.map-zone {
    fill: rgba(255, 255, 255, 0);
    /* Invisible */
    stroke: rgba(255, 255, 255, 0.2);
    stroke-width: 1;
    cursor: pointer;
    transition: fill 0.3s;
}

.map-zone:hover {
    fill: rgba(255, 255, 255, 0.1);
}

/* Panneau de détails */
#details-panel {
    position: fixed;
    right: 0;
    top: 0;
    width: 400px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    border-left: 1px solid #333;
    z-index: 100;
    padding: 40px;
    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

#details-panel.active {
    transform: translateX(0);
}

#close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.hidden {
    display: none;
}