/* Base du site */
body,
html {
    margin: 0;
    padding: 0;
    background: #0b0b0b;
    overflow: hidden;
    height: 100%;
}

/* Le "cadre" dans lequel on bouge */
#viewport {
    width: 100vw;
    height: 100vh;
    cursor: grab;
    display: block;
}

/* LE CONTENEUR FIXE (Taille de ton image 5K) */
#map-container {
    position: relative;
    width: 5761px;
    height: 3241px;
    transform-origin: 0 0;
    /* Crucial pour le zoom Panzoom */
}

.layer {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.gray {
    z-index: 1;
}

.color {
    z-index: 2;
    clip-path: url(#reveal-clip);
    /* Lien vers le masque SVG */
    opacity: 1;
    transition: opacity 0.2s;
}

/* Le SVG doit faire la même taille que l'image */
#map-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 5761px;
    height: 3241px;
    z-index: 10;
}

.map-zone {
    fill: transparent;
    pointer-events: all;
    cursor: pointer;
}

/* Optionnel : surbrillance très légère au survol pour debug */
.map-zone:hover {
    fill: rgba(255, 255, 255, 0.03);
}

/* Panneau latéral */
#details-panel {
    position: fixed;
    right: 0;
    top: 0;
    width: 420px;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    color: white;
    padding: 40px;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
    box-shadow: -10px 0 30px rgba(0, 0, 0, 0.8);
    border-left: 1px solid #333;
}

#details-panel.active {
    transform: translateX(0);
}

.hidden {
    display: none;
}

#close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 35px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 20px;
}