body,
html {
    margin: 0;
    padding: 0;
    background: #111;
    overflow: hidden;
    height: 100%;
}

#viewport {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#map-container {
    position: relative;
    width: 100vw;
    /* S'adapte à la largeur écran */
    line-height: 0;
}

.layer {
    width: 100%;
    height: auto;
    display: block;
}

/* Image Grise (Fond) */
.gray {
    position: relative;
    z-index: 1;
    background-color: #333;
    /* Si l'image rate, on verra du gris */
}

/* Image Couleur (Celle qu'on révèle) */
.color {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(255, 0, 0, 0.2);
    /* Zone de debug rouge léger */
    /* Masquée par défaut, le JS l'ouvrira */
    clip-path: circle(0% at 50% 50%);
    pointer-events: none;
}

#map-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
    /* Laisse passer le clic vers le container pour le Panzoom */
}

.map-zone {
    fill: rgba(0, 255, 0, 0);
    /* Invisible mais cliquable */
    stroke: rgba(0, 255, 0, 0.3);
    /* Contour vert très léger pour debug */
    stroke-width: 2;
    cursor: pointer;
    pointer-events: all;
    /* Active le clic sur les polygones */
}

.map-zone:hover {
    fill: rgba(0, 255, 0, 0.1);
}

/* Panneau latéral */
#details-panel {
    position: fixed;
    right: 0;
    top: 0;
    width: 350px;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 30px;
    z-index: 100;
    transform: translateX(100%);
    transition: 0.4s;
}

#details-panel.active {
    transform: translateX(0);
}

.hidden {
    display: none;
}

#close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
}